<p><a class="btn btn-primary btn-lg" [routerLink]="['add']" role="button">Agregar Comentario</a></p>
<div class="form-group">
  <label for="exampleInputEmail1">Buscar</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
</div>
{{commentsData | json}}
<table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Website</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of commentsData">
        <td>{{ comment.name }}</td>
        <td>{{ comment.email }}</td>
        <td>{{ comment.website }}</td>
        <td>
          <a [routerLink]="['edit', comment.email ]">Editar</a>
        </td>
      </tr>
    </tbody>
  </table>        